- var eq = "=";

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="calc.css")
        title Calculator

    body
        h1 Калькулятор
        div.calc
            div.calc__inputs
                input.calc__input(type="text", placeholder="0", disabled="disabled")
            div.calc__buttons
                button.calc__buttons-button.ml-0
                    | C
                button.calc__buttons-button
                    | D
                button.calc__buttons-button
                    | %
                button.calc__buttons-button.mr-0
                    | /
                button.calc__buttons-button.ml-0
                    | 7
                button.calc__buttons-button
                    | 8
                button.calc__buttons-button
                    | 9
                button.calc__buttons-button.mr-0
                    | ×
                button.calc__buttons-button.ml-0
                    | 4
                button.calc__buttons-button
                    | 5
                button.calc__buttons-button
                    | 6
                button.calc__buttons-button.mr-0
                    | -
                button.calc__buttons-button.ml-0
                    | 1
                button.calc__buttons-button
                    | 2
                button.calc__buttons-button
                    | 3
                button.calc__buttons-button.mr-0
                    | +
                button.calc__buttons-button.ml-0
                    | .
                button.calc__buttons-button
                    | 0
                button.calc__buttons-button.mr-0.gc-s2
                    | #{eq}
        div.quote
            blockquote
                | «Хороший дизайн — это как можно меньше дизайна»
            blockquote.mt-0
                | — Дитер Рамс

    footer
        script(src="calc.js")
